.dropdownCard {
    position: fixed;
    min-width: 6rem;
    min-height: 10rem;
    max-width: calc(100vw - 10rem);
    max-height: min(50vh, 40rem);
    transform: translate(-50%, 1rem);
    overflow-x: auto;
    visibility: hidden;
    z-index: 4;
}
.dropdownCard.isPlacedAbove {
    transform: translate(-50%, calc(-100% - 1rem));
}

/* Arrow */
.arrow {
    position: fixed;
    width: 0;
    height: 0;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-bottom: 0.8rem solid
        rgb(var(--surfaceContainerHighestColor, 230 224 233));
    transform: translate(-50%, calc(-100% + 1rem));
    visibility: hidden;
    z-index: 4;
}
.arrow.isPlacedAbove {
    transform: translate(-50%, -1rem) rotate(180deg);
}
.arrow.blur {
    border-bottom: 0.8rem solid
        color-mix(
            in srgb,
            rgb(var(--surfaceContainerHighestColor, 230 224 233)) 85%,
            transparent
        );
}
