/* Column Box */
.flexColumnBox {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
/* align */
.flexColumnBox.start {
    justify-content: flex-start;
    align-items: flex-start;
}
.flexColumnBox.center {
    justify-content: center;
    align-items: center;
}
.flexColumnBox.space {
    justify-content: space-evenly;
    align-items: center;
}
.flexColumnBox.end {
    justify-content: flex-end;
    align-items: flex-end;
}
/* Full Width Childs */
.flexColumnBox > :global(.fullWidth) {
    width: 100%;
}

/* Row Box */
.flexRowBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
/* align */
.flexRowBox.start {
    justify-content: flex-start;
}
.flexRowBox.center {
    justify-content: center;
}
.flexRowBox.space {
    justify-content: space-evenly;
}
.flexRowBox.end {
    justify-content: flex-end;
}
/* overflow */
.flexRowBox.shrink {
    white-space: nowrap;
}
.flexRowBox.shrink > * {
    white-space: initial;
}
.flexRowBox.wrap {
    flex-wrap: wrap;
}
.flexRowBox.scroll {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Smooth scroll on mobile */
}
.flexRowBox.scroll > * {
    white-space: initial;
    flex-shrink: 0;
}
.flexRowBox.scroll::-webkit-scrollbar {
    height: 0.6rem;
}
.flexRowBox.scroll::-webkit-scrollbar-thumb {
    border-radius: 0.3rem;
    background: transparent;
}
.flexRowBox.scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(125, 125, 125, 0.16);
}
.flexRowBox.scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(125, 125, 125, 0.24);
}
.flexRowBox.scroll::-webkit-scrollbar-track {
    background: transparent;
}
