/* Using material-symbols package CSS for fonts and weight/opsz. */

.horizontalMirror {
    transform: scale(1, -1);
}
.verticalMirror {
    transform: scale(-1, 1);
}
.diagonalMirror {
    transform: scale(-1, -1);
}
