.yakadCardAutoLevel,
.yakadCardLowLevel {
    --yakadCardBackgroundColor: var(--surfaceContainerLowColor);
}

.yakadCardAutoLevel .yakadCardAutoLevel,
.yakadCardLowLevel .yakadCardAutoLevel,
.yakadCardMidLevel {
    --yakadCardBackgroundColor: var(--surfaceContainerColor);
}

.yakadCardAutoLevel .yakadCardAutoLevel .yakadCardAutoLevel,
.yakadCardLowLevel .yakadCardAutoLevel .yakadCardAutoLevel,
.yakadCardMidLevel .yakadCardAutoLevel,
.yakadCardHighLevel,
.yakadCardHighLevel .yakadCardAutoLevel {
    --yakadCardBackgroundColor: var(--surfaceContainerHighColor);
}
